{% extends 'WsunBundle:Default:index.html.twig'%}
{% block bloque1 %}
    <div class="panel panel-azul">
    {% for key, prod in producto %}
       <div class="lbl1">
           {{555 }}

        <div class="lbl2 ">
         {{ key }}: {{ prod.nombreProducto|e }}   
           
        </div>
       </div>
        {% endfor %}
    </div>
{% endblock %}