{% extends 'WsunBundle:Default:index.html.twig'%}
{% block bloque1 %}
    <div class="panel panel-azul">
        <div class="col-md-12">
            {% include 'WsunBundle:producto:filtros.html.twig' %}
        </div>
    </div>    
    <div class="panel panel-azul">
   
    </div>
{% endblock %}