
<div class="box">
<div class="panel panel-azul">
<!--<div class="col-xs-12">   -->
{% set contador = 1 %}
<div class="row">
    <div class="col-xs-4 " class="text-justify">
        {% for c in categoria %}
            <ul list-style-type ><span onclick="subcategoria({{c.id}})">{{c.nombreCat}}</span>
                <li id="submenu{{c.id}}" >  </li>
            </ul>
        {% endfor %}
    </div>
 <div class="col-xs-8 ">
 </div>
 
</div>
</div>  </div> 