<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sumecor{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets  output='css/*.css'
            '@WsunBundle/Resources/public/css/bootstrap.min.css'  
            '@WsunBundle/Resources/public/css/datepicker.less.css'
            '@WsunBundle/Resources/public/css/main.css'                       
            '@WsunBundle/Resources/public/css/font-awesome.min.css'
            '@WsunBundle/Resources/public/css/datepicker.css'
            '@WsunBundle/Resources/public/css/font-awesome.css'
            '@WsunBundle/Resources/public/css/font-awesome-ie7.css'
            '@WsunBundle/Resources/public/js/chosen/chosen.css'
             
            filter='cssrewrite' output='css/compiled/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
        {% endstylesheets %}
        
    </head>
    <body>
      
        {% block body %}{% endblock %}
        {% block javascripts %}
        
            {% javascripts    
            
            '@WsunBundle/Resources/public/js/jquery-2.1.4.min.js'
            '@WsunBundle/Resources/public/js/bootstrap.min.js' 
            '@WsunBundle/Resources/public/js/jQuery-Autocomplete-1.2.9/dist/jquery.autocomplete.min.js'
            '@WsunBundle/Resources/public/js/bootstrap-datepicker.js'
            '@WsunBundle/Resources/public/js/chosen/chosen.jquery.js'

            %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
        
    </body>
</html>
